// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-main {
  background-color: #FFF;
  .nav-tabs {
    // margin-top: 20px;
  }
}
.group-list {
  .group-box {
    margin-bottom: 10px;
    padding: 0 5px;
    img {
      display: block;
      margin: 0 auto;
      height: 177px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    .group-title {
    }
    .group-description {
      height: 42px;
      overflow: hidden;
      margin-bottom: 0;
    }
    .group-post-count {
      position: absolute;
      right: 12px;
      bottom: 9px;
      span {
        float: right;
      }
    }
  }
}

.tab-content {
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

#group-info {
  .topic-form {
    margin-bottom: 30px;
  }
  .topic {
    a.thumbnail:hover, a.thumbnail:focus {
      border-color: #999;
    }
    padding: 30px 0;
    border-bottom: 1px solid #EEE;
    .topic-avatar {
      float: left;
      text-align: center;
      .thumbnail {
        img {
          width: 64px;
          height: 64px;
        }
      }
      .topic-user {
      }
    }
    .topic-body {
      margin-left: 74px;
      .topic-content {
        padding: 16px 30px;
        margin-bottom: 5px;
      }
      .topic-meta {
        text-align: right;
      }
      .topic-comments {
        margin-right: 20px;
        .comment-list, .comment-form {
          margin-top: 20px;
          .comment-avatar {
            float: left;
            .thumbnail {
              img {
                width: 48px;
                height: 48px;
              }
            }
          }
        }
        .comment-list {
          .comment-box {
            padding: 8px;
            .comment-content {
              margin-bottom: 0.5em;
            }
            .comment-timestamp {
              color: #929292;
              font-size: 13px;
            }
          }
        }
        .comment-body {
          margin-left: 58px;
          .comment-user {
            margin-top: 0;
            font-size: 16px;
          }
        }
        .comment-form {
          form {
            margin-left: 67px;
          }
        }
      }
    }
  }
}

.topic-content {
  background: #F6F8F9;
  border: 2px solid #E8EBED;
  border-radius: 6px;
}

.sidebar-section {
  margin-bottom: 5px;
  .member-list {
    img {
      float: left;
      margin: 0 1px 1px 0;
      width: 40px;
      height: 40px;
    }
  }
}

.group-item {
  height: 160px;
  img {
    max-width: 146px;
    max-height: 109px;
  }
}
