body {
  //background: #F7F7F7;
  .content {
    background: #FFF;
    //padding: 20px;
  }
}

abbr[title] {
  border: 0;
  cursor: default;
}

.navbar-title {
  background: #356aa6;
  color: #FFF;
  padding: 12px 0;
  font-size: 12px;
  border-bottom: 1px solid #d8e2ed;
  a {
    color: #e6eb0d;
    font-weight: bold;
  }
}
.navbar-custom {
  padding: 4px 0;
}
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}
.navbar {
  background: none repeat scroll 0 0 #FBFBFB;
  border-bottom: 2px solid #EEE;
  .navbar-nav {
    li {
      a {
        color: #73b4f4;
      }
    }
  }
  .navbar-form {
    margin: 0;
    .input-group {
      margin-top: 10px;
    }
  }
  .navbar-brand {
    color: #9ACD60;
    &:hover {
      color: #97cb5b;
    }
  }

}

.thumbnail {
  padding: 0;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

/*
a {
color: #1abc9c;
text-decoration: none;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden;
}

a:hover {
color: #2ecc71;
text-decoration: none;
}
 */

  footer, #copyright {
    background: #F4F4F4;
  }
  footer {
    margin-top: 30px;
    color: #17405E;
    .footer-inner {
      padding-top: 35px;
      .quick-links {
        margin-bottom: 30px;
        h3 {
          font-size: 14px;
          font-weight: bold;
          color: #333;
        }
      }
    }
    #copyright {
      border-top: 1px solid #F0F0F0;
      color: #999;
      p {
        margin: 10px 0;
      }
    }
  }

  .panel-list {
    .l-topics {
      li {
        border-bottom: 1px solid #EEE;
        padding: 4px 8px;
      }
    }
    span {
      color: #666;
      font-size: 12px;
    }
  }

