body {
  background: #F7F7F7;
  .content {
    background: #FFF;
    padding: 20px;
  }
}

.navbar {
  border: 0;
  background: none repeat scroll 0 0 #394755;

  .navbar-nav {
    li {
      a {
        color: #FFF;
        font-weight: bold;
        &:hover {
          color: #CCC;
        }
      }
    }
  }
}

.thumbnail {
  padding: 0;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

/*
a {
color: #1abc9c;
text-decoration: none;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden;
}

a:hover {
color: #2ecc71;
text-decoration: none;
}
*/

  footer {
    margin-top: 20px;
    padding-bottom: 20px;
    background: none repeat scroll 0 0 #F1F1F1;
border-top: 1px solid rgba(0, 0, 0, 0.1);
color: #17405E;
h3 {
  color: #308CCF;
  font-size: 20px;
line-height: 40px;
  margin-bottom: 5px;
}
  }

  #copyright {
    background: none repeat scroll 0 0 #394755;
    color: #D6DFE5;
    p {
      margin: 10px 0;
    }
  }
