<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-inner">
      <div class="quick-links clearfix">
      <div class="col-md-3">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Create</h3>
        <ul>
          <li><%# link_to "Create Group", new_group_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>About</h3>
      </div>
    </div>
<div id="copyright">
        <p>&copy; 2013</p>
      </div>
    </div>
    </div>
  </div>
</footer>
